<div>
<table>
    <tr>
    <td>Id :</td>
    <td><input type="text" [(ngModel)] ="person.id"></td>
    <td>Name :</td>
    <td><input type="text" [(ngModel)] ="person.name"></td>
    <td>Country :</td>
    <td><input type="text" [(ngModel)] ="person.country"></td>
    <td><button id="add" (click)='savePerson(person)'>ADD</button></td>
    </tr>
</table>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country</th>
        <th></th>
    </tr>
    <tr *ngFor = "let person of persons">
    <td>
     {{person.id}}
    </td>
    <td>
     {{person.name}}
    </td>
    <td>
     {{person.country}}
    </td>
    <td>
        <button id="dlt" (click)='deletePerson(person.id)'>Delete</button>
    </td>
</tr>
</table>
</div>
